{% extends 'bases/dash_base.html' %}
{% load static %}

{% block content %}
<section class="p-10" x-data="{ isOpen: false, selectedCategorieId: null }" class="overflow-hidden">
    <table id="CategorieTable" name="empleados" class="display responsive nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            {% for categorie in categories  %}
            <tr>
                <td>{{categorie.id}}</td>
                <td>{{categorie.nombre}}</td>
                <td>{{categorie.descripcion}}</td>
                <td>
                    <a class="flex items-center justify-center px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-emerald-600 rounded-lg hover:bg-emerald-700 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80"
                                href="{% url 'actualizar-categorias' id_categorie=categorie.id %}">
                        <svg class="w-5 h-5 mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
                        </svg>

                        <span class="mx-1">Actualizar</span>
                    </a>
                </td>
                <td>
                    <a @click="isOpen = true; selectedCategorieId = {{ categorie.id }}"  class="flex items-center justify-center px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-red-600 rounded-lg hover:bg-red-700 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                        <svg class="w-5 h-5 mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
                        </svg>

                        <span class="mx-1">Eliminar</span>
                    </a>
                </td>
            </tr>  
            {% endfor %}
        </tbody>
    </table>
    
    <div x-show="isOpen"
        x-transition:enter="transition duration-300 ease-out"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition duration-150 ease-in"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        class="fixed inset-0 z-10 flex items-center justify-center bg-black bg-opacity-50"
        aria-labelledby="modal-title" role="dialog" aria-modal="true">

        <div class="bg-white rounded-lg shadow-xl sm:max-w-sm sm:w-full sm:p-6">
            <div class="text-center">
                <h3 class="text-lg font-medium text-gray-800">¿Estás seguro de eliminar esta categoria?<br>Si decides eliminarla se eliminaran todos los productos asociados a ella</h3>
                <p class="mt-2 text-sm text-gray-500">ID de la categoria seleccionada: <span x-text="selectedCategorieId"></span></p>
            </div>
            <div class="mt-5 sm:flex sm:justify-center">
                <button @click="isOpen = false"
                    class="px-4 py-2 mt-2 text-sm font-medium text-gray-700 border rounded-md hover:bg-gray-100">
                    Cancelar
                </button>
                <a class="px-4 py-2 mt-2 text-sm font-medium text-white bg-red-600 rounded-md hover:bg-red-500" :href="'/dashboard/delete_categorie/' + selectedCategorieId + '/'">
                    Confirmar
                </a>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script>
    let table = new DataTable('#CategorieTable', {
        responsive : true,
        language: {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script>
    
{% endblock content %}