{% extends 'bases/base.html' %}
{% load static %}
{% block content %}
<section class="flex flex-col items-center w-full h-full p-10">
    <section class="max-w-4xl w-full p-6 mx-auto bg-lime-200 rounded-md shadow-md">
        <h2 class="text-xl font-semibold text-gray-700 capitalize">Inicio de Sesión</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-6 mt-4">
                <div class="form-group">
                    <label for="username" class="text-gray-700">{{form.username.label}}</label>
                    {{form.username}}
                </div>
                <div class="form-group">
                    <label for="email" class="text-gray-700">{{form.password.label}}</label>
        
                    {{form.password}}
            </div>
            <div>
                {% if form.non_field_errors %}
                <ul class="text-red-500">
                    {% for error in form.non_field_errors %}
                    <li class="flex items-center text-red-500 text-sm fade-in break-words">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                        {{error}}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="flex flex-col items-center">
                <button type="submit" class="px-8 py-2.5 mt-5 leading-5 text-white transition-colors duration-300 transform bg-lime-700 rounded-md hover:bg-lime-600 focus:outline-none focus:bg-gray-600">Iniciar Sesión</button>
            </div>
        </form> 
    </section> 
</section>  
{% endblock content %}